#contactList{
    list-style-type: none;
}
#title{
    font-size:5em;
    text-align: center;
    
}
.name{
    padding-left: 250px;
}
#container{
    border-style: solid;
    border-width: thin;
    font-size: 0.75em;
    background-image: url("star.jpeg");
    background-size: cover;
   
    font-family: sans-serif;
    
}
#layer{
    background-color: rgba(255,255,255,0.6);
    background-size: cover;
}
#contactInfo{
    height:30%;
    border-bottom: 0.5px solid black;
}
#sideInfo{
    margin-left: 40px;
}
#qualInfo{
    margin-left: 40px;
    list-style-type: square;
    
}
#bio{
    margin-left 40px;
    font-size: 0.8em;
    
}
#face{
    align-items: center;
    margin-right: 50;
    width: 12%;
    height:auto;
    float: right;
    display: block;
    padding-top: 20px;
}
.fontSize{
    font-size:0.8em; 
    margin-top:10px;
}
.noStyle{
    list-style-type: none;
}
#skills{
    font-size:2em;
    font-weight: bold;
}
#skillInfo{
    margin-left: 40px;
    list-style-type: square;
    font-size: 0.8em;
    
}
.bottom{
    padding-bottom: 40px;
}
.titleAdjust{
    font-size:2.5em;
    text-align: center;
    
}