#container{
    margin: 0px;
    width:100%;
    min-width: 960px;
    height:100%;
}
#logo{
    height: 100%;
    width: auto;
}
#menuBar{
    height: 150px;
    width: 100%;
    background-color: whitesmoke;
    margin-bottom: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
li{
    float: left;
    text-align: center;
    padding-right: 80px;
}
#pageInfo{
    margin: 0;
    float:left;
    width:100%;
    height: 210%;
    background-color: whitesmoke;
}
#nav li{
    font-size: 2em;
}
#nav li:hover{
    color: darkslategray;
}
#sitemap{
    padding-top: 20px;
}